pipeline/radar custom history delta.json
{
	"name": "radar custom history delta",
	"properties": {
		"activities": [
			{
				"name": "Copy history delta",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set startMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set current year",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ODataSource",
						"query": {
							"value": "@concat('$filter=month(FIN_MONTH_T) ge ', variables('startMonth'),' and year(FIN_MONTH_T) eq ', variables('currrentYear'))",
							"type": "Expression"
						},
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Radar_OData_connection",
						"type": "DatasetReference",
						"parameters": {
							"currentTable": {
								"value": "@toUpper('dwh_odf_prjfin_figures_h_00')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "RawDataset",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "dwh_odf_prjfin_figures_h_00",
								"type": "Expression"
							},
							"useCaseName": "@pipeline().parameters.useCaseName"
						}
					}
				]
			},
			{
				"name": "Set startMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startMonth",
					"value": {
						"value": "@string(int(substring(addToTime(utcNow(), -1, 'Month'), 5, 2)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set current year",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "currrentYear",
					"value": {
						"value": "@substring(addToTime(startOfMonth(utcNow()), -1, 'Month'), 0, 4)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"useCaseName": {
				"type": "string",
				"defaultValue": "radar"
			}
		},
		"variables": {
			"startMonth": {
				"type": "String"
			},
			"endMonth": {
				"type": "String"
			},
			"currrentYear": {
				"type": "String"
			}
		},
		"folder": {
			"name": "radar"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-30T07:27:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}