pipeline/raw data to staging.json
{
	"name": "raw data to staging",
	"properties": {
		"activities": [
			{
				"name": "Load raw tables to dps",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Parse table names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Parse table names').output.runOutput",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "raw datasets to staging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LNTableFullDataSet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@{item()}",
											"type": "Expression"
										},
										"fileName": "@{item()}_full"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LNFullStagingDataSet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@{pipeline().parameters.useCaseName}/@{item()}",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get tableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select tablename from ln_pipeline_parameter where pipelinename = '@{pipeline().parameters.useCaseName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "usecase_parameters",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Parse table names",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get tableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/LN Production Notebooks/string2Array",
					"baseParameters": {
						"value": {
							"value": "@string(activity('Get tableList').output.value)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dps_jobs_cluster",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"useCaseName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "infor-ln/raw data pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-30T07:27:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}